$theme-color:#387aff !default;

$primary-font:#333;
$sup-font:#666;
$info-font:#dedede;
$title-font:#464646;

$font-size-l:18px;
$font-size-m:16px;
$font-size-s:14px;
$font-size-xs:12px;

$border: 1px solid $theme-color;